.DS_Store
03 Grids/02 Flipdots and Dither/*/export/*/*.tga
03 Grids/02 Flipdots and Dither/*/data/*.mov
*.aep
*.prproj
*.webp
03 Grids/02 Flipdots and Dither/*/data/*.mp4
03 Grids/03 Splitflaps/canvas_210605/export/
/03 Grids/03 Splitflaps/canvas_210604/data/Komp 1.mp4
/03 Grids/03 Splitflaps/canvas_210604/data/Bildschirmaufnahme 2021-06-04 um 16.21.11.mov
