.DS_Store
03 Grids/02 Flipdots and Dither/*/export/*/*.tga
03 Grids/02 Flipdots and Dither/*/data/*.mov
*.aep
*.prproj
*.webp
03 Grids/02 Flipdots and Dither/*/data/*.mp4
03 Grids/03 Splitflaps/canvas_210605/export/
/03 Grids/03 Splitflaps/canvas_210604/data/Komp 1.mp4
/03 Grids/03 Splitflaps/canvas_210604/data/Bildschirmaufnahme 2021-06-04 um 16.21.11.mov
/03 Grids/03 Splitflaps/canvas_210605/data/Komp 1_1.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/Komp3.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/Komp 3.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/screen.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/screen2.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/Komp 2.mp4
/03 Grids/03 Splitflaps/canvas_210605/data/Komp_1.mp4
/03 Grids/03 Splitflaps/canvas_210605/assets/interns.mp4
/03 Grids/03 Splitflaps/canvas_210605/assets/Komp 3_1.mov
/03 Grids/03 Splitflaps/canvas_210605/assets/lines.mp4
*.mov
03 Grids/03 Splitflaps/canvas_210605/data/*.mp4
03 Grids/03 Splitflaps/canvas_210605/assets/*.mp4
_EXPORT
